# SPDX-FileCopyrightText: Copyright (c) 2024-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: rake
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  rake:
    strategy:
      matrix:
        os: [ubuntu-24.04]
        ruby: [3.3]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install --yes ghostscript
      - uses: teatimeguest/setup-texlive-action@v3.3.4
        with:
          update-all-packages: true
          packages: scheme-basic xetex ffcode libertine microtype hypdoc href-ul newtx biblatex biber verbatimcopy pgfopts silence setspace makecell textpos merriweather mdframed zref needspace pgf pgfplots babel-russian cyrillic lh cm-super anyfontsize csquotes
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle config set --global path "$(pwd)/vendor/bundle"
      - run: bundle install --no-color
      - run: bundle exec rake
